In [ ]:
import os
import pandas as pd
import json
import matplotlib.pyplot as plt
import numpy as np
import time

In [ ]:
def get_info(info):
    empty = [[],{},'',()]
    if info == None or info == False:
        return 'NaN'
    if info in empty:
        return  'NaN'
    return info

In [ ]:
path = 'nius data/'
allFiles = os.listdir(path)
df = pd.DataFrame(columns=['id', 'title', 'content', 'tags','autor','kategorie','date'])


for singleFile in allFiles:
    oneFile = os.path.join(path,singleFile)
    with open(oneFile,"r") as file:
        data = json.load(file)
        autor = np.NaN
        if data['authors'] != []:
            autor = data['authors'][0]['name']
        kategoie = np.NaN
        if data['categories'] != []:
            kategoie = data['categories'][0]

        date = data['meta']['publishedAt'].replace(data['meta']['publishedAt'].split(':')[-1],'')
        df.loc[len(df)] =[file.name,data['data']['title'],data['data']['content'],data['data']['tags'],autor,kategoie,pd.to_datetime(date, format="%Y-%m-%dT%H:%M:")]

In [ ]:
## get all data for articles tabel
article_df = pd.DataFrame(columns=['id','title','content','slug','pulic_author'])
path = 'data/'
allFiles = os.listdir(path)
na = np.NaN

for singleFile in allFiles:
    oneFile = os.path.join(path,singleFile)
    with open(oneFile,"r") as file:
        data = json.load(file)
        id = na
        if data['id'] != '':
            id = data['id']
        title = na
        if data['data']['title'] != '':
            title = data['data']['title']
        content = na
        if data['data']['content'] != []:
            content = data['data']['content']
        slug = na
        if data['articleRef'] != '':
            slug = data['articleRef']
        public_author = na
        if data['author'] != '':
            public_author = data['author']
        article_df.loc[len(article_df)] =[id,title,content,slug,public_author]

        #date = data['meta']['publishedAt'].replace(data['meta']['publishedAt'].split(':')[-1],'')
        #df.loc[len(df)] =[file.name,data['data']['title'],data['data']['content'],data['data']['tags'],autor,kategoie,pd.to_datetime(date, format="%Y-%m-%dT%H:%M:")]
article_df

In [ ]:
## get all data for articles tabel
article_df = pd.DataFrame(columns=['id','title','content','slug'])
path = 'nius data/'
allFiles = os.listdir(path)
na = np.NaN

for singleFile in allFiles:
    oneFile = os.path.join(path,singleFile)
    with open(oneFile,"r") as file:
        data = json.load(file)
        id = na
        if data['id'] != '':
            id = data['id']
        title = na
        if data['data']['title'] != '':
            title = data['data']['title']
        content = na
        if data['data']['content'] != []:
            content = data['data']['content']
        slug = na
        if data['articleRef'] != '':
            slug = data['articleRef']

        article_df.loc[len(article_df)] =[id,title,content,slug]

        #date = data['meta']['publishedAt'].replace(data['meta']['publishedAt'].split(':')[-1],'')
        #df.loc[len(df)] =[file.name,data['data']['title'],data['data']['content'],data['data']['tags'],autor,kategoie,pd.to_datetime(date, format="%Y-%m-%dT%H:%M:")]

In [ ]:
## get all kategroies 
import numpy as np
kategoie_df = pd.DataFrame(columns=['id','kategorie'])
path = 'nius data/'
allFiles = os.listdir(path)
na = np.NaN

for singleFile in allFiles:
    oneFile = os.path.join(path,singleFile)
    with open(oneFile,"r") as file:
        data = json.load(file)
        id = get_info(data['id'])
        kategorie = get_info(data['meta']['category'])

        kategoie_df.loc[len(kategoie_df)] =[id,kategorie]
kategoie_df

In [ ]:
## get all autoren 
import numpy as np
author_df = pd.DataFrame(columns=['autor_id','article_id','user_name','email','role'])
path = 'nius data/'
allFiles = os.listdir(path)
na = np.NaN
len_authors = []

for singleFile in allFiles:
    oneFile = os.path.join(path,singleFile)
    with open(oneFile,"r") as file:
        data = json.load(file)
        article_id = get_info(data['id'])
        if data['authors'] != []:
            len_authors.append(len(data['authors']))
            for author in data['authors']:
                author_id = get_info(author['id'])
                user_name = get_info(author['name'])
                email = get_info(author['email'])
                role = get_info(author['role'])
                author_df.loc[len(author_df)] =[author_id, article_id, user_name, email, role]
author_df

In [ ]:
## get meta_data

meta_data_df = pd.DataFrame(columns=['article_id','meta_title','description','image','locale','date_published','date_modified'])
path = 'nius data/'
allFiles = os.listdir(path)
na = np.NaN

for singleFile in allFiles:
    oneFile = os.path.join(path,singleFile)
    with open(oneFile,"r") as file:
        data = json.load(file)
        id = get_info(data['id'])
        if data['meta'] != {}:
            meta = data['meta']
            meta_title = get_info(meta['title'])
            meta_description = get_info(meta['description'])
            image = get_info(meta['image'])
            locale = get_info(meta['locale'])
            date_published = get_info(meta["publishedAt"])
            date_modified = get_info(meta['modifiedAt'])

            meta_data_df.loc[len(meta_data_df)] =[id,meta_title,meta_description, image,locale, date_published, date_modified]
meta_data_df

In [ ]:
## get meta_data
meta_image_df = pd.DataFrame(columns=['article_id','image'])
path = 'nius data/'
allFiles = os.listdir(path)
na = np.NaN

for singleFile in allFiles:
    oneFile = os.path.join(path,singleFile)
    with open(oneFile,"r") as file:
        data = json.load(file)
        id = get_info(data['id'])
        if data['meta'] != {}:
            image = get_info(meta['image'])


            meta_image_df.loc[len(meta_image_df)] =[id,image,]
meta_image_df

In [ ]:
import os
import json
import numpy as np
import pandas as pd

# Funktion zum Umgang mit leeren Werten
def get_info(info):
    empty = [[], {}, '', ()]
    if info is None or info is False or info in empty:
        return 'NaN'
    return info

# Datenpfad
path = 'data/'
allFiles = os.listdir(path)

# Liste f√ºr kombinierten DataFrame
combined_data = []

# Daten aus JSON-Dateien extrahieren
for singleFile in allFiles:
    oneFile = os.path.join(path, singleFile)
    with open(oneFile, "r") as file:
        data = json.load(file)
        
        # Basis-Informationen
        id = get_info(data.get('id'))
        
        # Meta-Daten
        meta = data.get('meta', {})
        meta_title = get_info(meta.get('title'))
        meta_description = get_info(meta.get('description'))
        image = get_info(meta.get('image'))
        locale = get_info(meta.get('locale'))
        date_published = get_info(meta.get('publishedAt'))
        date_modified = get_info(meta.get('modifiedAt'))
        kategorie = get_info(meta.get('category'))
        
        # Artikel-Daten
        data_content = data.get('data', {})
        title = get_info(data_content.get('title'))
        content = get_info(data_content.get('content'))
        slug = get_info(data.get('articleRef'))
        public_author = get_info(data.get('author'))

        ## Autor Daten
        for author in data['authors']:
            author_id = get_info(author.get('id'))
            user_name = get_info(author.get('name'))
            email = get_info(author.get('email'))
            role = get_info(author.get('role'))
            # Daten kombinieren
            combined_data.append({
                'id': id,
                'meta_title': meta_title,
                'description': meta_description,
                'image': image,
                'locale': locale,
                'date_published': date_published,
                'date_modified': date_modified,
                'kategorie': kategorie,
                'title': title,
                'content': content,
                'slug': slug,
                'public_author': public_author,
                'author_id': author_id,
                'author_user_name':user_name,
                'author_email': email,
                'author_role': role,

            })



        if data.get('authors')== []: 
            # Daten kombinieren
            combined_data.append({
                'id': id,
                'meta_title': meta_title,
                'description': meta_description,
                'image': image,
                'locale': locale,
                'date_published': date_published,
                'date_modified': date_modified,
                'kategorie': kategorie,
                'title': title,
                'content': content,
                'slug': slug,
                'public_author': public_author,
                'author_id': np.NaN,
                'author_user_name':np.NaN,
                'author_email': np.NaN,
                'author_role': np.NaN,

            })
            

# Kombinierter DataFrame erstellen
combined_df = pd.DataFrame(combined_data)
combined_df['content'] = [f"'{i}'" for i in combined_df['content']]

# Spezifische DataFrames erstellen
meta_image_df = combined_df[['id', 'image']].dropna()
meta_data_df = combined_df[['id', 'meta_title', 'description', 'image', 'locale', 'date_published', 'date_modified']].dropna()
kategoie_df = combined_df[['id', 'kategorie']].dropna()
article_df = combined_df[['id', 'title', 'content', 'slug', 'public_author']].dropna()

In [ ]:
###########################
####### Category table ####
###########################
import mysql.connector

# Tabellenname
table_name = 'category'

# Daten vorbereiten
data = combined_df[['kategorie']].drop_duplicates()
data_to_insert = [tuple(row) for row in data.to_numpy(na_value='NaN')]

# Verbindung zur Datenbank herstellen
mydb = mysql.connector.connect(
    ##############
)
mycursor = mydb.cursor()




# Tabelle l√∂schen, falls sie existiert
mycursor.execute(f"DROP TABLE IF EXISTS {table_name}")

# Tabelle erstellen
create_table = f"""
CREATE TABLE {table_name} (
    `id` INT NOT NULL AUTO_INCREMENT,
    `name` VARCHAR(100) NOT NULL,
    PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
"""
mycursor.execute(create_table)

# Daten einf√ºgen
insert_query = f"INSERT INTO {table_name} (name) VALUES (%s)"
batch_size = 100

for i in range(0, len(data_to_insert), batch_size):
    mycursor.executemany(insert_query, data_to_insert[i:i + batch_size])
    print(f"Inserted rows {i + 1} to {min(i + batch_size, len(data_to_insert))}")
#
# √Ñnderungen speichern
mydb.commit()
print(f"Inserted {len(data_to_insert)} rows into {table_name}.")

In [ ]:
###########################
####### content table ####
###########################
import mysql.connector

tabel_name = 'article_content'
#data = combined_df[['title','content','public_author','kategorie']].drop_duplicates()
#data_to_insert = [tuple(row) for row in data.to_numpy(na_value='NaN')]

mydb = mysql.connector.connect(############)
mycursor = mydb.cursor()


## get categroy id 
mycursor.execute("SELECT id,name FROM category")
category_id_lookup = {name:id for id , name in mycursor.fetchall()}
data = combined_df[['title','content','public_author','kategorie']].drop_duplicates()
data['kategorie'] = [category_id_lookup.get(name) for name in data['kategorie']]
data_to_insert = [tuple(row) for row in data.to_numpy(na_value='NaN')]


## drpo table if exist
mycursor.execute(f"DROP TABLE IF EXISTS {tabel_name}")
## creat table
create_table = f""" CREATE TABLE {tabel_name} (
  `id` INT NOT NULL AUTO_INCREMENT,
  `title` VARCHAR(250) NOT NULL,
  `content` LONGTEXT NOT NULL,
  `public_author` VARCHAR(100) NOT NULL,
  `kategorie_id` INT NOT NULL,
  PRIMARY KEY (`id`),
  KEY `kategorie_id` (`kategorie_id`),
  CONSTRAINT `fk_kategorie_id` FOREIGN KEY (`kategorie_id`) 
    REFERENCES `category` (`id`) 
    ON DELETE RESTRICT ON UPDATE RESTRICT
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
"""
mycursor.execute(create_table)

# Daten einf√ºgen
insert_query = f"""INSERT INTO {tabel_name} (title,content, public_author,kategorie_id) 
                VALUES (%s,%s,%s,%s)"""
batch_size = 100

for i in range(0, len(data_to_insert), batch_size):
    mycursor.executemany(insert_query, data_to_insert[i:i + batch_size])
    print(f"Inserted rows {i + 1} to {min(i + batch_size, len(data_to_insert))}")
#
# √Ñnderungen speichern
mydb.commit()
print(f"Inserted {len(data_to_insert)} rows into {tabel_name}.")

In [ ]:
###########################
####### adding column ####
###########################
import mysql.connector

# Verbindung zur Datenbank herstellen
tabel_name = 'article_content'
mydb = mysql.connector.connect(
    ##################
)
mycursor = mydb.cursor()

# Neue Spalte hinzuf√ºgen
alter_table_query = f"""
    ALTER TABLE {tabel_name}
    ADD COLUMN cleaned_content LONGTEXT;
"""
#mycursor.execute(alter_table_query)
#mydb.commit()
print(f"Spalte 'cleaned_content' wurde zur Tabelle '{tabel_name}' hinzugef√ºgt.")
import pandas as pd
df = pd.read_csv('cleaned_data_article_content.csv',index_col='id')

batch_size = 20
ids = df.index.tolist()

for start in range(0, len(ids), batch_size):
    end = start + batch_size
    batch_ids = ids[start:end]
    print(f"first: {start}",end='\r')
    for i in batch_ids:
        row = df.loc[i]
        update_query = f"""
            UPDATE {tabel_name}
            SET cleaned_content = %s
            WHERE id = %s;
        """
        mycursor.execute(update_query, (row["content"], i))
    mydb.commit()
print("Die Spalte 'cleaned_content' wurde mit den neuen Daten gef√ºllt.")

In [ ]:
###########################
####### autor ############
###########################
import mysql.connector

tabel_name = 'author'
#data = combined_df[['title','content','public_author','kategorie']].drop_duplicates()
#data_to_insert = [tuple(row) for row in data.to_numpy(na_value='NaN')]

mydb = mysql.connector.connect(############)
mycursor = mydb.cursor()


data = combined_df[['author_user_name','author_email','author_role']].drop_duplicates()
data_to_insert = [tuple(row) for row in data.to_numpy(na_value='NaN')]


## drpo table if exist
mycursor.execute(f"DROP TABLE IF EXISTS {tabel_name}")
## creat table
create_table = f""" CREATE TABLE {tabel_name} (
  `id` INT NOT NULL AUTO_INCREMENT,
  `user_name` VARCHAR(250) NOT NULL,
  `email` VARCHAR(250) NOT NULL,
  `role` VARCHAR(100) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
"""
mycursor.execute(create_table)

# Daten einf√ºgen
insert_query = f"""INSERT INTO {tabel_name} (user_name,email, role) 
                VALUES (%s,%s,%s)"""
batch_size = 100

for i in range(0, len(data_to_insert), batch_size):
    mycursor.executemany(insert_query, data_to_insert[i:i + batch_size])
    print(f"Inserted rows {i + 1} to {min(i + batch_size, len(data_to_insert))}")
#
# √Ñnderungen speichern
mydb.commit()
print(f"Inserted {len(data_to_insert)} rows into {tabel_name}.")

In [ ]:
###########################
####### image table ####
###########################
import mysql.connector

# Tabellenname
table_name = 'image'

# Daten vorbereiten
data = combined_df[['image']].drop_duplicates()
data_to_insert = [tuple(row) for row in data.to_numpy(na_value='NaN')]

# Verbindung zur Datenbank herstellen
mydb = mysql.connector.connect(
    #########
)
mycursor = mydb.cursor()




# Tabelle l√∂schen, falls sie existiert
mycursor.execute(f"DROP TABLE IF EXISTS {table_name}")

# Tabelle erstellen
create_table = f"""
CREATE TABLE {table_name} (
    `id` INT NOT NULL AUTO_INCREMENT,
    `link` VARCHAR(500) NOT NULL,
    PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
"""
mycursor.execute(create_table)

# Daten einf√ºgen
insert_query = f"INSERT INTO {table_name} (link) VALUES (%s)"
batch_size = 100

for i in range(0, len(data_to_insert), batch_size):
    mycursor.executemany(insert_query, data_to_insert[i:i + batch_size])
    print(f"Inserted rows {i + 1} to {min(i + batch_size, len(data_to_insert))}")
#
# √Ñnderungen speichern
mydb.commit()
print(f"Inserted {len(data_to_insert)} rows into {table_name}.")

In [ ]:

###########################
####### meta table #######
###########################
import mysql.connector

tabel_name = 'meta_info'
#data = combined_df[['title','content','public_author','kategorie']].drop_duplicates()
#data_to_insert = [tuple(row) for row in data.to_numpy(na_value='NaN')]

mydb = mysql.connector.connect(############)
mycursor = mydb.cursor()


## get categroy id 
print('prepare lookup table',end='\r')
mycursor.execute("SELECT id,content FROM article_content")
content_id_lookup = {name:id for id , name in mycursor.fetchall()}
mycursor.execute("SELECT id,link FROM image")
image_id_lookup = {name:id for id , name in mycursor.fetchall()}
data = combined_df[['slug','image','locale','date_published','date_modified','content']].drop_duplicates()
data['content'] = [content_id_lookup.get(i)for i in data['content']]
data['image'] =  [image_id_lookup.get(i) for i in data['image']]
data['date_published'] = pd.to_datetime(data['date_published'], errors='coerce').dt.strftime('%Y-%m-%d %H:%M:%S')
data['date_modified'] = pd.to_datetime(data['date_modified'], errors='coerce').dt.strftime('%Y-%m-%d %H:%M:%S')
data_to_insert = [tuple(row) for row in data.to_numpy(na_value=None)]
print('finished lookup table',end='\r')


## drpo table if exist
mycursor.execute(f"DROP TABLE IF EXISTS {tabel_name}")
## creat table
create_table = f""" CREATE TABLE {tabel_name} (
  `id` INT NOT NULL AUTO_INCREMENT,
  `slug` TEXT NOT NULL,
  `image_id` INT NOT NULL,
  `locale` VARCHAR(250) NOT NULL,
  `date_published` datetime ,
  `date_modified` datetime ,
  `content_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `content_id` (`content_id`),
  KEY `image_id` (`image_id`),
  CONSTRAINT `fk_content_id` FOREIGN KEY (`content_id`) 
    REFERENCES `article_content` (`id`) 
    ON DELETE RESTRICT ON UPDATE RESTRICT,
  CONSTRAINT `fk_image_id` FOREIGN KEY (`image_id`) 
    REFERENCES `image` (`id`) 
    ON DELETE RESTRICT ON UPDATE RESTRICT
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
"""
mycursor.execute(create_table)

# Daten einf√ºgen
insert_query = f"""INSERT INTO {tabel_name} (slug,image_id,locale, date_published,date_modified,content_id) 
                VALUES (%s,%s,%s,%s,%s,%s)"""
batch_size = 100

for i in range(0, len(data_to_insert), batch_size):
    mycursor.executemany(insert_query, data_to_insert[i:i + batch_size])
    print(f"Inserted rows {i + 1} to {min(i + batch_size, len(data_to_insert))}")
#
# √Ñnderungen speichern
mydb.commit()
print(f"Inserted {len(data_to_insert)} rows into {tabel_name}.")

In [ ]:

###########################
####### author_mapping table #######
###########################
import mysql.connector

tabel_name = 'author_mapping'
#data = combined_df[['title','content','public_author','kategorie']].drop_duplicates()
#data_to_insert = [tuple(row) for row in data.to_numpy(na_value='NaN')]

mydb = mysql.connector.connect(############)
mycursor = mydb.cursor()


## get categroy id 
print('prepare lookup table',end='\r')
mycursor.execute("SELECT id,user_name FROM author")
author_id_lookup = {name:id for id , name in mycursor.fetchall()}
mycursor.execute("SELECT id,slug  FROM meta_info")
meta_id_lookup = {name:id for id , name in mycursor.fetchall()}

data = combined_df[['slug','author_user_name']].drop_duplicates()
data['author_user_name'] = data['author_user_name'].replace(np.NaN,'NaN')
data['author_user_name'] = [author_id_lookup.get(i)for i in data['author_user_name']]
data['slug'] =  [meta_id_lookup.get(i) for i in data['slug']]
data_to_insert = [tuple((int(row[0]),int(row[1]))) for row in data.to_numpy()]
print('finished lookup table',end='\r')


## drpo table if exist
mycursor.execute(f"DROP TABLE IF EXISTS {tabel_name}")
## creat table
create_table = f""" CREATE TABLE {tabel_name} (
  `id` INT NOT NULL AUTO_INCREMENT,
  `meta_id` INT NOT NULL,
  `author_id` INT NOT NULL,
  PRIMARY KEY (`id`),
  KEY `meta_id` (`meta_id`),
  KEY `author_id` (`author_id`),
  CONSTRAINT `fk_meta_id` FOREIGN KEY (`meta_id`) 
    REFERENCES `meta_info` (`id`) 
    ON DELETE RESTRICT ON UPDATE RESTRICT,
  CONSTRAINT `fk_author_id` FOREIGN KEY (`author_id`) 
    REFERENCES `author` (`id`) 
    ON DELETE RESTRICT ON UPDATE RESTRICT
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
"""
mycursor.execute(create_table)

# Daten einf√ºgen
insert_query = f"""INSERT INTO {tabel_name} (meta_id, author_id) 
                VALUES (%s,%s)"""
batch_size = 100

for i in range(0, len(data_to_insert), batch_size):
    mycursor.executemany(insert_query, data_to_insert[i:i + batch_size])
    print(f"Inserted rows {i + 1} to {min(i + batch_size, len(data_to_insert))}")
#
# √Ñnderungen speichern
mydb.commit()
print(f"Inserted {len(data_to_insert)} rows into {tabel_name}.")